/* Define global color variables */
:root {
  --very-soft-gray: #fafafa;
  --medium-gray: #616161;
  --light-blue: #e3f2fd;
  --blue: #1e88e5;
  --softer-blue: #bbdefb;
  --muted-gray: #546e7a;
  --light-lavender: #f3e5f5;
  --very-light-green: #f9fbe7;
  --muted-blue-gray: #455a64;
  --light-gray: #eceff1;
}
