<table mat-table [dataSource]="dataSource()" class="table table-striped">
  <ng-container matColumnDef="index">
    <th class="table-header" mat-header-cell *matHeaderCellDef>#</th>
    <td mat-cell *matCellDef="let row; let i = index">{{ getIndex(i) }}</td>
  </ng-container>

  <ng-container matColumnDef="username">
    <th class="table-header" mat-header-cell *matHeaderCellDef>Username</th>
    <td mat-cell *matCellDef="let row">{{ row.username }}</td>
  </ng-container>

  <ng-container matColumnDef="email">
    <th class="table-header" mat-header-cell *matHeaderCellDef>Email</th>
    <td mat-cell *matCellDef="let row">{{ row.email }}</td>
  </ng-container>

  <ng-container matColumnDef="blocked">
    <th class="table-header" mat-header-cell *matHeaderCellDef>Blocked</th>
    <td mat-cell *matCellDef="let row">
      <mat-icon class="text-error" *ngIf="row.blocked">lock</mat-icon>
      <mat-icon class="text-success" *ngIf="!row.blocked">lock_open</mat-icon>
    </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th class="table-header" mat-header-cell *matHeaderCellDef>Actions</th>
    <td mat-cell *matCellDef="let row">
      <button mat-icon-button (click)="$event.stopPropagation(); onEdit(row)">
        <mat-icon>edit</mat-icon>
      </button>
      <button
        mat-icon-button
        class="text-error"
        (click)="$event.stopPropagation(); onDelete(row)"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
