.action-panel-content {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: flex-start;
}

@media (max-width: 600px) {
  .action-panel-content {
    flex-direction: column;
    gap: 0.8rem;
    align-items: stretch;
  }
}
