/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
.global-title {
  color: #0d47a1;
  font-weight: bold;
}

/* Styles for error snackbar */
.error-snackbar.mat-mdc-snack-bar-container .mdc-snackbar__surface {
  background-color: #ee5f54;
  color: white;
}

.error-snackbar .mat-mdc-snack-bar-label {
  color: white;
  font-weight: 500;
}

.error-snackbar .mat-mdc-snack-bar-actions .mdc-button__label {
  color: white;
}
