/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: inherit;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  font-size: 14px;
}
.global-title {
  color: #0d47a1;
  font-weight: bold;
}

/* Styles for error snackbar */
.error-snackbar.mat-mdc-snack-bar-container .mdc-snackbar__surface {
  background-color: #ee5f54;
  color: white;
}

.error-snackbar .mat-mdc-snack-bar-label {
  color: white;
  font-weight: 500;
}

.error-snackbar .mat-mdc-snack-bar-actions .mdc-button__label {
  color: white;
}

/* Styles for success snackbar */
.success-snackbar.mat-mdc-snack-bar-container .mdc-snackbar__surface {
  background-color: #4caf50;
  color: white;
}

.success-snackbar .mat-mdc-snack-bar-label {
  color: white;
  font-weight: 500;
}

.success-snackbar .mat-mdc-snack-bar-actions .mdc-button__label {
  color: white;
}

/* Global Mat-Card customization: fresh background for all mat-card components */
.mat-mdc-card {
  background-color: #faf9fd !important;
}
