<h1 class="gl-header1">Add new vocabulary</h1>
<mat-card>
  <form
    [formGroup]="vocabularyForm"
    (ngSubmit)="onSubmit()"
    (keydown)="addMeaningShortcut($event)"
  >
    <app-custom-input
      label="Word"
      formControlName="word"
      class="word-width"
    ></app-custom-input>
    <div class="actions">
      <app-custom-button
        type="button"
        icon="plus"
        (clicked)="addMeaning()"
        matTooltip="shortcut: alt + a"
        matTooltipPosition="above"
        [outline]="true"
      >
        Add meaning
      </app-custom-button>
      <app-custom-button icon="floppy-disk" type="submit">
        Save
      </app-custom-button>
    </div>

    <div formArrayName="meanings" class="meanings-container">
      <div
        class="meaning-panel"
        *ngFor="let meaning of meanings.controls; let i = index"
        [formGroupName]="i"
        class="meaning-group"
        (keydown)="removeMeaningShortcut($event, i)"
      >
        <h2 class="gl-header3">Meaning {{ i + 1 }}</h2>

        <!-- First row: Part of Speech and Meaning -->
        <div class="meaning-row">
          <app-custom-input
            label="Part of Speech"
            formControlName="partOfSpeech"
            class="half-width"
          ></app-custom-input>
          <app-custom-input
            label="Meaning"
            formControlName="meaning"
            class="half-width"
          ></app-custom-input>
        </div>

        <!-- Second row: IPA and Pronunciation -->
        <div class="meaning-row">
          <app-custom-input
            label="IPA"
            formControlName="ipa"
            class="half-width"
          ></app-custom-input>
          <app-custom-input
            label="Pronunciation"
            formControlName="pronunciation"
            class="half-width"
          ></app-custom-input>
        </div>

        <!-- Third row: Usage -->
        <app-custom-textarea
          label="Usage"
          formControlName="usage"
          [rows]="1"
          class="full-width"
        ></app-custom-textarea>

        <!-- Fourth row: Note -->
        <app-custom-textarea
          label="Note"
          formControlName="note"
          [rows]="1"
          class="full-width"
        ></app-custom-textarea>

        <!-- Fifth row: Example -->
        <app-custom-textarea
          label="Example"
          formControlName="example"
          [rows]="1"
          class="full-width"
        ></app-custom-textarea>

        <app-custom-button
          (clicked)="removeMeaning(i)"
          matTooltip="shortcut: alt + r"
          matTooltipPosition="above"
          *ngIf="meanings.length > 1"
          icon="trash"
          variant="danger"
          [outline]="true"
        >
          Remove
        </app-custom-button>
      </div>
    </div>
  </form>
</mat-card>
